In [2]:
import pandas as pd                        #importing required packages
import numpy as np
import pylab as pl
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# Reading data from remote link
url = "./train.csv" , error_bad_lines=False)

SyntaxError: invalid syntax (<ipython-input-6-b0c01248c33e>, line 2)

In [3]:
import csv
df = pd.read_csv('./train.csv' , quoting =csv.QUOTE_NONE, escapechar="\\") #loading the dataset
df.sample(n=1000, random_state=0)

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
71989,Indian Terrain Men's Checkered Slim fit Casual...,NaN,"[Color: Burgundy,Material: cotton,Machine wash]",Indian Terrain,1024
1993127,"Aquieen Check 12"" x 4"" Shower Water Drainer Fl...",NaN,[Made for AISI 304 grade so it doesn't corrode...,Aquieen,3193
708795,Coverage Vintage Leather Flip Cover for Samsun...,"This fit for only Samsung Galaxy J4 , NOT FOR ...","[For Model Samsung Galaxy J4 - SM-J400F,Allows...",Coverage,1295
1490691,Queen Style Light Green 7 Part Women's Cotton ...,<p> Material--100% Cotton </p> <p> Pattern -- ...,"[100% Pure Cotton Highly Durable Fabric,Excell...",Queen Style,4442
1777234,Kulsum's kaya kalp diamond facial kit 40gm,Diamond Facial Kit by Kulsum’s Kaya Kalp is a ...,"[improve skin texture and metabolism,regenerat...",Kulsum's Kaya Kalp,771
...,...,...,...,...,...
1471095,New Year Latest Winter Collection Blanket Raja...,This world famous luxurious embossed Korean Mi...,"[1 Blanket,Product Dimension (LXB: 87x63 inche...",Great Indian Hub,1138
2867378,Famacart 100% Cotton Cloth Double Bed Sheet_Pi...,"➤Famacart, a brand committed to bring to you t...",[➤Gorgeous Collection of 100% Cotton Double Be...,famacart,6233
2520344,Samriddhi Imported Artificial Succulents in Lo...,"Made up of polyester fabric, these beautiful a...","[Package Contents: Artificial Topiary,Care Ins...",SAMRIDDHI,709
237624,Holy Basil Shyama Tulsi and Red Amaranthus See...,NaN,"[Kitchen garden pack,Branded packing,Home gard...",Airex,1041
203053,Women's Floral Print Lycra Blend Saree JB ENTE...,Our Printed Saree will be a perfect addition t...,"[Saree Fabric Lycra Blend: , Blouse Fabric: Ly...",JB ENTERPRISE,1052

In [4]:
df.head()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
0,"Pete The Cat Bedtime Blues Doll, 14.5 Inch","Pete the Cat is the coolest, most popular cat ...","[Pete the Cat Bedtime Blues plush doll,Based o...",MerryMakers,0
1,"The New Yorker NYHM014 Refrigerator Magnet, 2 ...",The New Yorker Handsome Cello Wrapped Hard Mag...,[Cat In A Tea Cup by New Yorker cover artist G...,The New Yorker,1
2,The Ultimate Self-Sufficiency Handbook: A Comp...,NaN,Skyhorse Publishing,imusti,2
3,Amway Nutrilite Kids Chewable Iron Tablets (100),NaN,"[Nutrilite Kids,Chewable Iron Tablets,Quantity...",Amway,3
4,Teacher Planner Company A4 6 Lesson Academic T...,NaN,NaN,NaN,4

In [16]:
df.tail()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
2903019,Premium Aviator Sunglasses - HD Polarized (Bri...,These premium Aviator Sunglasses with 5 color ...,"[Frame size: Lens height - 56mm, Lens width - ...",Generic,1040
2903020,Social Distance Stickers - Set of 5 Sticker Sl...,set of 5 prints social distancing sticker self...,[covid19 safety sticker - set of 5 to maintain...,Generic,15199
2903021,Torr-to Face Shield PACK OF 5 with Adjustable ...,* COMPLETE FACE PROTECTION: Torr-to Face Shiel...,"[350 MICRONS PACK OF 5 PCS,COMPLETE FACE PROTE...",TORR-TO,1044933
2903022,Type-C to 3.5 MM for Oppo R17 Pro Type-C to 3....,Still want to use your favorite earphones/head...,"[Indian Connectors: Made for Indian sockets, t...",SHOPBELL,14790
2903023,KNG Orange Polo Tshirt (38),Performance inspired by comfort. The polo shir...,NaN,KNG,1213

In [17]:
df.sample(5)

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
1101796,CGS FASHION Women's Silk Saree with Blouse Pie...,<br>✔ This Saree is by <b>CGS FASHION</b>. </b...,"[★ Product Material :- Silk,★ Color :- Blue,★ ...",Generic,1052
2361191,Puma Men's Regular fit Polo,NaN,"[Color: Mercedes Team Silver,Main Material 1: ...",Puma,1213
579156,Impression hut® Heavy Fabric Elegant Ringtop P...,Impression Hut is Specialist Curtain Makers. T...,"[Color: Blue, Pattern: Modern, Size Name: Long...",Impression Hut,739
2617100,BEPS Stylish & Fashionable Suede & Patent Ankl...,BEPS Presents to You Elegant and Quality Footw...,[Buy only from BEPS to Get Quality and Authent...,BEPS,197
1460247,Unique Indian Crafts Handmade Work Multi- Colo...,"Unique Indian Crafts Easy to wear, light in we...","[Hand made banana clip,Durable, bright colors,...",Unique Indian Crafts,511

In [5]:
df.isnull().sum()    #checking for null values

TITLE                 71
DESCRIPTION       723664
BULLET_POINTS     166263
BRAND              56737
BROWSE_NODE_ID         0
dtype: int64

In [6]:
print(df.shape)      #viewing dimensions of dataset

(2903024, 5)

In [20]:
print(df.describe())   #details of the dataset

       BROWSE_NODE_ID
count    2.903024e+06
mean     9.211321e+03
std      5.606280e+04
min      0.000000e+00
25%      7.000000e+02
50%      1.072000e+03
75%      2.546000e+03
max      2.893574e+06

In [ ]:
plt.scatter(df.TITLE, df.BRAND, color='blue')     #scatter plot
plt.xlabel("TITLE")
plt.ylabel("BRAND")
plt.show()

In [ ]:
# 2D KDE plot
sns.jointplot(x=df['Hours'], y=df['Scores'], kind="kde")

In [ ]:
sns.lineplot(data=df) ## Line chart showing how marks evolved over time

In [ ]:
sns.pairplot(df)

In [ ]:
# Bar chart showing the scores of students vs hours they put in
sns.barplot(x=df["Hours"], y=df["Scores"])

# Add label for vertical axis
plt.xlabel("Scores after studying")

# Add label for vertical axis
plt.ylabel("Hours")

In [ ]:
plt.figure(figsize=(10,4))           #heat map
sns.heatmap(df.corr(),annot=True,cmap="cubehelix_r")
plt.show()

In [ ]:
plt.scatter( matches_df.win_by_runs,matches_df.team1, color='blue')     #scatter plot
plt.ylabel("team1")
plt.xlabel("win_by_runs")
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(x='season', data=matches_df)
plt.show()

In [ ]:
#sns.barplot(x="day", y="total_bill", data=df)
fig, ax = plt.subplots(figsize=(14,8))
ax.set_ylim([0,20])
ax.set_ylabel("Count")
ax.set_title("Top player of the match Winners")
top_players.plot.bar()
sns.barplot(x = top_players.index, y = top_players, orient='v', palette="Blues");
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(x='venue', data=matches_df)
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
labels = (np.array(temp_series.index))
sizes = (np.array((temp_series / temp_series.sum())*100))
colors = ['gold', 'lightskyblue']
plt.pie(sizes, labels=labels, colors=colors,
        autopct='%1.1f%%', shadow=True, startangle=90)
plt.title("Toss decision percentage")
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.countplot(x='season', hue='toss_decision', data=matches_df)
plt.xticks(rotation='vertical')
plt.show()

In [4]:
print(df.shape)

(2903024, 5)

In [5]:
df.dropna(subset=['TITLE'], inplace= True)

In [6]:
print(df.shape)

(2902953, 5)

In [7]:
df.dropna(subset=['DESCRIPTION'], inplace= True)

In [8]:
print(df.shape)

(2179303, 5)

In [9]:
df.dropna(subset=['BRAND'], inplace= True)

In [10]:
print(df.shape)

(2170734, 5)

In [11]:
df.dropna(subset=['BULLET_POINTS'], inplace= True)

In [12]:
print(df.shape)

(2110586, 5)

In [13]:
modifiedDF= df.dropna()

In [14]:
print(modifiedDF.shape)

(2110586, 5)

In [7]:
df.isnull().sum()    #checking for null values

TITLE                 71
DESCRIPTION       723664
BULLET_POINTS     166263
BRAND              56737
BROWSE_NODE_ID         0
dtype: int64

In [8]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [9]:
df["TITLE"] = df['TITLE'].apply(remove_punctuations)

NameError: name 'string' is not defined

In [10]:
df["DESCRIPTION"] = df['DESCRIPTION'].apply(remove_punctuations)

NameError: name 'string' is not defined

In [34]:
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

In [36]:
df["DESCRIPTION"] = df['DESCRIPTION'].str.replace('[^\w\s]','')
df["TITLE"] = df['TITLE'].str.replace('[^\w\s]','')
df["BULLET_POINTS"] = df['BULLET_POINTS'].str.replace('[^\w\s]','')
df["BULLET_POINTS"] = df['BULLET_POINTS'].str.replace('[^\w\s]','')

In [37]:
df.head()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
0,pete the cat bedtime blues doll 145 inch,pete the cat is the coolest most popular cat i...,pete the cat bedtime blues plush dollbased on ...,merrymakers,0
1,the new yorker nyhm014 refrigerator magnet 2 x 35,the new yorker handsome cello wrapped hard mag...,cat in a tea cup by new yorker cover artist gu...,the new yorker,1
5,mens full sleeve raglan tshirts denim tshirt m...,mens full sleeve raglan tshirts denim tshirt m...,color bluesleeve full sleevematerial cottonnec...,bhavya enterprise,5
6,glance womens wallet black lw21,this black wallet by glance will be a treasure...,the most comfortable womens wallet that you wo...,glance,6
7,wild animals hungry brain educational flash ca...,wild animals are the animals that mostly stays...,playful learning flash cards develops the love...,hungry brain,7

In [45]:
df['TITLE'] = df['TITLE'].apply(str)

In [46]:
df.head()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
0,pete the cat bedtime blues doll 145 inch,pete the cat is the coolest most popular cat i...,pete the cat bedtime blues plush dollbased on ...,merrymakers,0
1,the new yorker nyhm014 refrigerator magnet 2 x 35,the new yorker handsome cello wrapped hard mag...,cat in a tea cup by new yorker cover artist gu...,the new yorker,1
5,mens full sleeve raglan tshirts denim tshirt m...,mens full sleeve raglan tshirts denim tshirt m...,color bluesleeve full sleevematerial cottonnec...,bhavya enterprise,5
6,glance womens wallet black lw21,this black wallet by glance will be a treasure...,the most comfortable womens wallet that you wo...,glance,6
7,wild animals hungry brain educational flash ca...,wild animals are the animals that mostly stays...,playful learning flash cards develops the love...,hungry brain,7

In [50]:
import re
def remove_numbers(text):
    number_pattern = r'\d+'
    without_number = re.sub(pattern=number_pattern, repl=" ", string=text)
    return without_number

numbers_result = remove_numbers(df)

TypeError: expected string or bytes-like object

In [55]:
def standardize(df,text_field):
    df[text_field]= df[text_field].str.replace(r"http\S+"," ")
    df[text_field]= df[text_field].str.replace(r"http"," ")
    df[text_field]= df[text_field].str.replace(r"@\S+"," ")
    df[text_field]= df[text_field].str.replace(r"@","at")
    df[text_field]= df[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]"," ")
    return df

In [57]:
df= standardize(df, "TITLE")
df= standardize(df, "DESCRIPTION")
df= standardize(df, "BULLET_POINTS")
df= standardize(df, "BRAND")

In [60]:
df.sample(10)

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
192720,ideal fully automatic 4g speed agarbatti makin...,high quality products from ideal corporation,high performancedurableinternational standards,ideal,192720
2088182,krossstitch full sleeve solid mens washed blue...,denim jacket is a popular type of casual appar...,startup india the dream of dressing our nation...,krossstitch,890
1082777,bamberri 44 mm watch strap metal watch band st...,security stainless steel band comes with iwatc...,stainless steel mesh with adjustable milanese ...,bamberri,507
1868257,official icc international cricket council fle...,all our products are made with best fabrics to...,micro fibre fleece for a soft finish extra fa...,generic,890
2586736,disney minnie mouse star shape keyring teether,filled with pure water teether can be chilled ...,filled with pure water teether can be chilled ...,disney,1292
1470144,generic computer hard drive ddd caddy tray for...,condition new a brandnew unused unopened undam...,country of manufacture china brand otherprice ...,generic,280
2353015,kitchen scissor multi color design no 309,1high quality 3 in 1 scissor for your daily ki...,sharp edgesconfortable gripstylish lookeasy to...,tim hawk,5924
1782522,etechnic printed designer silicon back cover f...,bbnow customize your phone cases with etechnic...,designer case beautiful design elegant appear...,etechnic,1045
2481619,dinoshu womens casual comfortable fashion sand...,enhance your look with shoes from kabir bambha...,casualstylishbest for occasionsdurablehighly c...,dino shu,1186
286612,tucute kids printed cotton shirt for boys beig...,make your kid look super trendy and cool as yo...,care instructions hand washmaterial cotton,tucute,1318

In [52]:
import inflect
p = inflect.engine()
df.iloc[:,3].astype(str).apply(lambda row: re.sub(r'(?<!\S)\d+(?!\S)', lambda x: p.number_to_words(x.group()), row))

ModuleNotFoundError: No module named 'inflect'

In [1]:
df.to_cvs("clearn_data.csv")

NameError: name 'df' is not defined